body{
    background-color: rgb(68, 186, 255); /*color de fondo de la pagina*/
}
.contenedor{
    border-radius: 10px;
    width: 95%;
    margin: 2px auto;   /*deja el espacio del margen de manera automatica, con el auto*/
}

.imagen{
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 1px;
}

.menu{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px rgb(0, 0, 0) solid;       /*primer valor es el grosor, color, tipo solido */
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color:rgb(19, 24, 94);
    font-weight: bold;
}

a:hover{
    color:rgb(130, 240, 255);
    text-decoration: underline;
}

.principal{
    padding: 0px 50px;   
}

.tarjeta{
    background: linear-gradient(to right, rgb(10, 0, 155),rgb(42, 212, 255));
    border: 3px rgb(251, 247, 247) solid;
    width: 27%;
    float: left;
    padding: 50px;
    border-radius: 15px;
}

.tarjeta img{
    border-radius: 100px;
    margin-left: 130px;
}

h4{
    text-align: center;
    color:white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    clear: both; /*Anula el floramiento*/
    color: rgb(12, 26, 153);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; /*Resaltar*/
    text-align: center;
    padding: 20px;
}

.productos{
    float: left;
    width: 19%;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 10px;
}

.centrar{
    text-align: center; /*Alinear imagen al centro*/
    padding-top: 10px; /*Sangria superior*/
    border-bottom: 1px rgb(255, 255, 255) solid;
}

.centrar img{
    border-radius: 100px;
}

.botones{
    padding: 2px 40px;
}

.boton{
    width: 49%;
    height: 10%;
    background-color: rgb(76, 234, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.productos p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.boton2{
    background-color: rgb(0, 32, 139);
    color: white;
}

.formulario{
    width: 50%;
    margin: 10px auto;
    background: linear-gradient(to right, rgb(110, 197, 255), rgb(110, 221, 255));
    border-radius: 10px;
    padding: 20px;
    border: 2px rgb(255, 255, 255) solid;  
}

.centrarFormulario{
    width: 80%;
    margin: 0px auto;
}

p{
    margin-top: 10px;
}

.caja{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: none;
}

.boton3{
    background-color: rgb(0, 7, 100);
    color: white;
    font-weight: bold;
}

footer{
    text-align: right;
    font-size: 0.4cm;
    color: rgb(17, 0, 255);
    padding-right: 20px;
}

h3{
    clear: both; /*Anula el floramiento*/
    color: rgb(12, 26, 153);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; /*Resaltar*/
    text-align: left;
    padding-left: 65px;
}

h4{
    clear: both; /*Anula el floramiento*/
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; /*Resaltar*/
    text-align: center;
    padding: 20px;
}

.empresa p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    padding: 0px 100px;
}

textarea.caja {
    height: 100px; /* o la altura que prefieras */
    resize: vertical; /* permite agrandar solo hacia abajo */
}